<section class="scoreboard">
	<div class="top">
	  <div class="nav">
	  	<button {{action newMatch}} type="button" class="btn btn-primary"}}>Home</button>
		</div>
		<div class="current-player">
			{{#if currentPlayer}}
			<h3 {{action gotoNextTurnForPlayer currentPlayer}}><span>{{currentPlayer.name}}</span> to throw</h3>
			{{/if}}
		</div>
	  <div class="legs-nav">
			<h5>Legs:</h5>
			<ol class="unstyled">
				<li class="closed">1</li>
				<li class="closed">2</li>
				<li>3</li>
			</ol>
		</div>
	</div>

	<div id="scoreboard-wrapper">
			<ol class="unstyled">
				{{#each allScores}}
				<li class="scores-for-player">
					<h4 {{action gotoNextTurnForPlayer player}}>{{player.name}}</h4>
					<ol class="unstyled">
						{{#each score in scores}}
							<li>
								{{#linkTo turn this}}
									<span>-</span>{{score}}
								{{/linkTo}}
							</li>
						{{/each}}
						<li><strong>{{requiredScore}}</strong></li>
					</ol>
				</li>
				{{/each}}
			</ol>
			{{outlet}}		
	</div>
</section>